05_Service Contract/Client/Client/Service References/ProxyReference/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Rameshkartik/WCFSamples/OnlineShoppingService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Rameshkartik/WCFSamples/OnlineShoppingService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Rameshkartik/WCFSamples/OnlineShoppingService/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/MyWCFsolution/Service1/?xsd=xsd0" namespace="http://Rameshkartik/WCFSamples/OnlineShoppingService" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/MyWCFsolution/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="OnlineShoppingService_StockAvailability_InputMessage">
    <wsdl:part name="parameters" element="tns:StockAvailability" />
  </wsdl:message>
  <wsdl:message name="OnlineShoppingService_StockAvailability_OutputMessage">
    <wsdl:part name="parameters" element="tns:StockAvailabilityResponse" />
  </wsdl:message>
  <wsdl:message name="OnlineShoppingService_CalculatePrice_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculatePrice" />
  </wsdl:message>
  <wsdl:message name="OnlineShoppingService_CalculatePrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculatePriceResponse" />
  </wsdl:message>
  <wsdl:portType name="OnlineShoppingService">
    <wsdl:operation name="StockAvailability">
      <wsdl:input wsaw:Action="http://Rameshkartik/WCFSamples/OnlineShoppingService/OnlineShoppingService/StockAvailability" message="tns:OnlineShoppingService_StockAvailability_InputMessage" />
      <wsdl:output wsaw:Action="http://Rameshkartik/WCFSamples/OnlineShoppingService/OnlineShoppingService/StockAvailabilityResponse" message="tns:OnlineShoppingService_StockAvailability_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculatePrice">
      <wsdl:input wsaw:Action="http://Rameshkartik/WCFSamples/OnlineShoppingService/OnlineShoppingService/CalculatePrice" message="tns:OnlineShoppingService_CalculatePrice_InputMessage" />
      <wsdl:output wsaw:Action="http://Rameshkartik/WCFSamples/OnlineShoppingService/OnlineShoppingService/CalculatePriceResponse" message="tns:OnlineShoppingService_CalculatePrice_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>