ExtensibleDataObject/ClientApp/ClientApp/Service References/ServiceReferenceObject/PatientDetails.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8735/Rameshkartik/WCFSamples/ExtensibleDataObject/PatientDetails?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rameshkartik.WCFSamples.ExtensibleDataObject" />
  <xs:element name="PatientDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Rameshkartik.WCFSamples.ExtensibleDataObject" minOccurs="0" name="P" nillable="true" type="q1:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatientDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Rameshkartik.WCFSamples.ExtensibleDataObject" minOccurs="0" name="PatientDetailsResult" nillable="true" type="q2:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>