09_Service Contract - Versioning -No Strict/Client/ClientApplication/ClientApplication/Service References/ShoppingServiceProxy/OnlineShoppingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rameshkartik.WCFSamples.OnlineShoppingService.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rameshkartik.WCFSamples.OnlineShoppingService.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WholeSaleDealersInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DealerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DealerSince" type="xs:dateTime" />
      <xs:element name="LocationofDealer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WholeSaleDealersInfo" nillable="true" type="tns:WholeSaleDealersInfo" />
  <xs:complexType name="Toy">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="StockAvailableCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Toy" nillable="true" type="tns:Toy" />
</xs:schema>