08_Data Contract - Versioning/Client/ClientApplication/ClientApplication/Service References/ShoppingServiceProxy/OnlineShoppingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rameshkartik.WCFSamples.OnlineShoppingService.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rameshkartik.WCFSamples.OnlineShoppingService.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WholeSaleDealersInfoDetailed">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WholeSaleDealersInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="DealerAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DealerAge" type="xs:int" />
          <xs:element minOccurs="0" name="DealerEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DealerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DealerNumber" type="xs:int" />
          <xs:element minOccurs="0" name="DealerSince" type="xs:dateTime" />
          <xs:element name="LocationofDealer" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WholeSaleDealersInfoDetailed" nillable="true" type="tns:WholeSaleDealersInfoDetailed" />
  <xs:complexType name="WholeSaleDealersInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DealerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DealerSince" type="xs:dateTime" />
      <xs:element name="LocationofDealer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WholeSaleDealersInfo" nillable="true" type="tns:WholeSaleDealersInfo" />
</xs:schema>