CSharpCorner Submitted/Protection Level/ClientApp/ClientApp/Service References/ServiceReferenceObject/ServiceLibrary1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://http://localhost:8735/Rameshkartik/WCFSamples/Security/Principal/ServiceLibrary" elementFormDefault="qualified" targetNamespace="http://http://localhost:8735/Rameshkartik/WCFSamples/Security/Principal/ServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetStringData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStringDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStringDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIntData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIntDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIntDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>