Routing/Load Balancing/Client/Client/Service References/LoadBalancerRef/RailImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RailImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8650/RailServices2?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8650/RailServices2?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRailServices_GetPNRQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPNRQuery" />
  </wsdl:message>
  <wsdl:message name="IRailServices_GetPNRQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPNRQueryResponse" />
  </wsdl:message>
  <wsdl:message name="IRailServices_BookTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:BookTicket" />
  </wsdl:message>
  <wsdl:message name="IRailServices_BookTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="IRailServices">
    <wsdl:operation name="GetPNRQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/iPNRQueries/GetPNRQuery" message="tns:IRailServices_GetPNRQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iPNRQueries/GetPNRQueryResponse" message="tns:IRailServices_GetPNRQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/iSeatBook/BookTicket" message="tns:IRailServices_BookTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iSeatBook/BookTicketResponse" message="tns:IRailServices_BookTicket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="iPNRQueries">
    <wsdl:operation name="GetPNRQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/iPNRQueries/GetPNRQuery" message="tns:IRailServices_GetPNRQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iPNRQueries/GetPNRQueryResponse" message="tns:IRailServices_GetPNRQuery_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="iSeatBook">
    <wsdl:operation name="BookTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/iSeatBook/BookTicket" message="tns:IRailServices_BookTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iSeatBook/BookTicketResponse" message="tns:IRailServices_BookTicket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRailServices" type="tns:IRailServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPNRQuery">
      <soap:operation soapAction="http://tempuri.org/iPNRQueries/GetPNRQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookTicket">
      <soap:operation soapAction="http://tempuri.org/iSeatBook/BookTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_iPNRQueries" type="tns:iPNRQueries">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPNRQuery">
      <soap:operation soapAction="http://tempuri.org/iPNRQueries/GetPNRQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_iSeatBook" type="tns:iSeatBook">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BookTicket">
      <soap:operation soapAction="http://tempuri.org/iSeatBook/BookTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RailImpl">
    <wsdl:port name="BasicHttpBinding_IRailServices" binding="tns:BasicHttpBinding_IRailServices">
      <soap:address location="http://localhost:8650/RailServices2" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_iPNRQueries" binding="tns:BasicHttpBinding_iPNRQueries">
      <soap:address location="http://localhost:8650/RailServices2/PNR" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_iSeatBook" binding="tns:BasicHttpBinding_iSeatBook">
      <soap:address location="http://localhost:8650/RailServices2/SeatBook" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>