11_Service Contract - Versioning -Strict/Client/ClientApplication/ClientApplication/Service References/ShoppingServiceProxy/OnlineShoppingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Rameshkartik/WCFSamples/OnlineShoppingService" elementFormDefault="qualified" targetNamespace="http://Rameshkartik/WCFSamples/OnlineShoppingService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Rameshkartik/WCFSamples/OnlineShoppingService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rameshkartik.WCFSamples.OnlineShoppingService.Contracts" />
  <xs:element name="GetWholeSaleDealerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sFilterByCity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWholeSaleDealerInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Rameshkartik.WCFSamples.OnlineShoppingService.Contracts" minOccurs="0" name="GetWholeSaleDealerInfoResult" nillable="true" type="q1:WholeSaleDealersInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToyInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sToyName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToyInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Rameshkartik.WCFSamples.OnlineShoppingService.Contracts" minOccurs="0" name="GetToyInfoResult" nillable="true" type="q2:Toy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>