Hosting/ClientApp/ClientApp/Service References/ServiceReferenceObject/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://http://localhost:8735/Rameshkartik/WCFSamples/Security/Principal/ServiceLibrary" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://http://localhost:8735/Rameshkartik/WCFSamples/Security/Principal/ServiceLibrary" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://http://localhost:8735/Rameshkartik/WCFSamples/Security/Principal/ServiceLibrary/Imports">
      <xsd:import schemaLocation="http://localhost/ServiceLibrary/WebHosting/Service.svc?xsd=xsd0" namespace="http://http://localhost:8735/Rameshkartik/WCFSamples/Security/Principal/ServiceLibrary" />
      <xsd:import schemaLocation="http://localhost/ServiceLibrary/WebHosting/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILibrary_GetStringData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStringData" />
  </wsdl:message>
  <wsdl:message name="ILibrary_GetStringData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStringDataResponse" />
  </wsdl:message>
  <wsdl:message name="ILibrary_GetIntData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIntData" />
  </wsdl:message>
  <wsdl:message name="ILibrary_GetIntData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIntDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ILibrary">
    <wsdl:operation name="GetStringData">
      <wsdl:input wsaw:Action="http://http://localhost:8735/Rameshkartik/WCFSamples/Security/Principal/ServiceLibrary/ILibrary/GetStringData" message="tns:ILibrary_GetStringData_InputMessage" />
      <wsdl:output wsaw:Action="http://http://localhost:8735/Rameshkartik/WCFSamples/Security/Principal/ServiceLibrary/ILibrary/GetStringDataResponse" message="tns:ILibrary_GetStringData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIntData">
      <wsdl:input wsaw:Action="http://http://localhost:8735/Rameshkartik/WCFSamples/Security/Principal/ServiceLibrary/ILibrary/GetIntData" message="tns:ILibrary_GetIntData_InputMessage" />
      <wsdl:output wsaw:Action="http://http://localhost:8735/Rameshkartik/WCFSamples/Security/Principal/ServiceLibrary/ILibrary/GetIntDataResponse" message="tns:ILibrary_GetIntData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>