16_Operation and Endpoint Behavior in WCF/Endpoint Behavior Code/Client/Client/Service References/CafeShopServiceReference/CafeShopService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://localhost:8733/Rameshkartik/WCFSamples/CafeShopService" elementFormDefault="qualified" targetNamespace="http://localhost:8733/Rameshkartik/WCFSamples/CafeShopService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Rameshkartik/WCFSamples/CafeShopService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rameshkartik.WCFSamples.CafeShopService.Contracts" />
  <xs:element name="SellCofee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistermyCofeeShop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sCofeeShop" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistermyCofeeShopResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Rameshkartik.WCFSamples.CafeShopService.Contracts" minOccurs="0" name="latestData" nillable="true" type="q1:CurrentData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>