Message Logging/ClientApp/ClientApp/Service References/ServiceReferenceObject/ServiceLibrary.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://localhost:8735/Rameshkartik/WCFSamples/MessageExchangePatterns/ServiceLibrary" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8735/Rameshkartik/WCFSamples/MessageExchangePatterns/ServiceLibrary" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost:8735/Rameshkartik/WCFSamples/MessageExchangePatterns/ServiceLibrary/Imports">
      <xsd:import schemaLocation="http://localhost:8735/Rameshkartik/WCFSamples/MessageExchangePatterns/ServiceLibrary?xsd=xsd0" namespace="http://localhost:8735/Rameshkartik/WCFSamples/MessageExchangePatterns/ServiceLibrary" />
      <xsd:import schemaLocation="http://localhost:8735/Rameshkartik/WCFSamples/MessageExchangePatterns/ServiceLibrary?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILibrary_UpdateData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateData" />
  </wsdl:message>
  <wsdl:message name="ILibrary_UpdateData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDataResponse" />
  </wsdl:message>
  <wsdl:message name="ILibrary_GetDetailedData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailedData" />
  </wsdl:message>
  <wsdl:message name="ILibrary_GetDetailedData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailedDataResponse" />
  </wsdl:message>
  <wsdl:message name="ILibrary_CallBackFunction_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CallBackFunction" />
  </wsdl:message>
  <wsdl:message name="ILibrary_CallBackFunction_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CallBackFunctionResponse" />
  </wsdl:message>
  <wsdl:portType name="ILibrary">
    <wsdl:operation name="UpdateData">
      <wsdl:input wsaw:Action="http://localhost:8735/Rameshkartik/WCFSamples/MessageExchangePatterns/ServiceLibrary/ILibrary/UpdateData" message="tns:ILibrary_UpdateData_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8735/Rameshkartik/WCFSamples/MessageExchangePatterns/ServiceLibrary/ILibrary/UpdateDataResponse" message="tns:ILibrary_UpdateData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetailedData">
      <wsdl:input wsaw:Action="http://localhost:8735/Rameshkartik/WCFSamples/MessageExchangePatterns/ServiceLibrary/ILibrary/GetDetailedData" message="tns:ILibrary_GetDetailedData_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8735/Rameshkartik/WCFSamples/MessageExchangePatterns/ServiceLibrary/ILibrary/GetDetailedDataResponse" message="tns:ILibrary_GetDetailedData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CallBackFunction">
      <wsdl:output wsaw:Action="http://localhost:8735/Rameshkartik/WCFSamples/MessageExchangePatterns/ServiceLibrary/ILibrary/CallBackFunction" message="tns:ILibrary_CallBackFunction_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://localhost:8735/Rameshkartik/WCFSamples/MessageExchangePatterns/ServiceLibrary/ILibrary/CallBackFunctionResponse" message="tns:ILibrary_CallBackFunction_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>