17_Instancing in WCF/Client/Client/Service References/CafeShopServiceReference/CafeShopService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://localhost:8733/Rameshkartik/WCFSamples/CafeShopService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8733/Rameshkartik/WCFSamples/CafeShopService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost:8733/Rameshkartik/WCFSamples/CafeShopService/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Rameshkartik/WCFSamples/CafeShopService?xsd=xsd0" namespace="http://localhost:8733/Rameshkartik/WCFSamples/CafeShopService" />
      <xsd:import schemaLocation="http://localhost:8733/Rameshkartik/WCFSamples/CafeShopService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Rameshkartik/WCFSamples/CafeShopService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rameshkartik.WCFSamples.CafeShopService.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICafeShopService_SellCofee_InputMessage">
    <wsdl:part name="parameters" element="tns:SellCofee" />
  </wsdl:message>
  <wsdl:message name="ICafeShopService_RegistermyCofeeShop_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistermyCofeeShop" />
  </wsdl:message>
  <wsdl:message name="ICafeShopService_RegistermyCofeeShop_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistermyCofeeShopResponse" />
  </wsdl:message>
  <wsdl:message name="ICafeShopService_OnCallBack_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCallBack" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ICafeShopService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SellCofee">
      <wsdl:input wsaw:Action="http://localhost:8733/Rameshkartik/WCFSamples/CafeShopService/ICafeShopService/SellCofee" message="tns:ICafeShopService_SellCofee_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RegistermyCofeeShop">
      <wsdl:input wsaw:Action="http://localhost:8733/Rameshkartik/WCFSamples/CafeShopService/ICafeShopService/RegistermyCofeeShop" message="tns:ICafeShopService_RegistermyCofeeShop_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8733/Rameshkartik/WCFSamples/CafeShopService/ICafeShopService/RegistermyCofeeShopResponse" message="tns:ICafeShopService_RegistermyCofeeShop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnCallBack">
      <wsdl:output wsaw:Action="http://localhost:8733/Rameshkartik/WCFSamples/CafeShopService/ICafeShopService/OnCallBack" message="tns:ICafeShopService_OnCallBack_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>